body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#sidebar-logo {
	margin-bottom: 56px;
}

.mdi-content-send {
	margin: 0!important;
}

footer.page-footer {
	position: fixed;
	bottom: 0;
	width: 100%;
}

@media screen and (max-width: 400px) {
	.brand-logo {
		font-size: 1.8rem!important;
	}

	.day-next,
    .day-previous {
		display: none;
	}

    .mdi-hardware-keyboard-arrow-left,
    .mdi-hardware-keyboard-arrow-right {
	    margin: 0!important;
    }
}

@media screen and (min-width: 993px) {
	#sidebar-logo {
		margin-bottom: 128px!important;
	}
}